body {
  background: #E3E6E9;
}


@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Cairo', sans-serif;
}

/* .heroButton {
  
  margin-top: 25px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #e8e7e7;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #ebe4e4, 5px 5px 15px #ddd4d4, inset 5px 5px 10px #e4e4e4, inset -5px -5px 10px #272626;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
  transition: 500ms;
}

.heroButton:hover {
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #ffffff, inset 5px 5px 10px #e9e9e9, inset -5px -5px 10px #444;
  color: #000000;
  transition: 500ms;
} */

.heroButton {
  width: 10rem;
  min-width: 100px;
  height: 3rem;
  padding: 10px;
  border-radius: 5px;
  border: 2.5px solid #e3e3e3b4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.748);
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  color: #282c34;

}

.heroButton:hover {
  background-color: #e3e3e3b4;
  box-shadow: 0px 0px 20px -18px;
}

.heroButton:active {
  transform: scale(0.95);
}