html {
  background: linear-gradient(to bottom, #3E4C5A, #3E4C5A, #e4e8ee);
}

footer {
  background: linear-gradient(to bottom, #D1D5DB, #757779);
}


@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  font-family: 'Cairo', sans-serif;
}



/* Customize the appearance of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #7F7A49;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e8371;
}